* { box-sizing: border-box; }
html, body { height: 100%; }
body {
  margin: 0;;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  background: linear-gradient(135deg, #000 0%, #020202 50%, #050505 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 400% 400%;
  animation: bgShift 20s ease infinite;
  color: wheat;
}
/* ===== Navbar ===== */
nav {
  display: flex;
  justify-content:space-around; /* logo solda, menü sağda */
  align-items: center;;
  height: 60px; /* navbar yüksekliği küçültüldü */
  animation: navGlow 4s infinite alternate;
  transition: all 1s ease;
    margin: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

/* Menü linkleri */
nav a, nav .menu a {
  background: linear-gradient(90deg, var(--accent1, lime), var(--accent2, lime));
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  letter-spacing: 1px;
  position: relative;
  transition: transform 0.5s ease, text-shadow 0.3s ease;
}

nav a:hover, nav .menu a:hover {
  transform: scale(3) rotate(-1deg);
}

article{
    max-width: 60%;
    margin: 25px auto;
    padding: 20px;
    display: block;
}
h1{
    text-align: center;
}
main{
    padding: 40px;
}
.geri-buton-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding: 10px;
}

.geri-buton-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.geri-buton {
  background-color: black;
  border: 1px solid red;
  color: red;
  padding: 10px 25px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.geri-buton:hover {
  transform: scale(1.05);
  color: lime;
  border:1px solid lime;

}

.geri-buton:active {
  transform: scale(0.97);

}
