* { box-sizing: border-box; }
html, body { height: 100%; }
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  background: linear-gradient(135deg, #000 0%, #020202 50%, #050505 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 400% 400%;
  animation: bgShift 20s ease infinite;
  color: wheat;
}
/* ===== Navbar ===== */
nav {
  display: flex;
  justify-content:space-around; /* logo solda, menü sağda */
  align-items: center;
  margin: 10px;
  height: 60px; /* navbar yüksekliği küçültüldü */
  animation: navGlow 4s infinite alternate;
  transition: all 1s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

/* Menü linkleri */
nav a, nav .menu a {
  background: linear-gradient(90deg, var(--accent1, lime), var(--accent2, lime));
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  letter-spacing: 1px;
  position: relative;
  transition: transform 0.5s ease, text-shadow 0.3s ease;
}

nav a:hover, nav .menu a:hover {
  transform: scale(3) rotate(-1deg);
}

.baslik{
  padding: 2px;
  text-align: center;
  color: #a788e1;
}
h3{
  color: whitesmoke;
}
.card {
  background: rgba(20, 20, 20, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.302);
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 255, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  text-align: center;
  max-width: 850px;
  margin: 40px auto;
  min-height: 300px;     /* alt sınır, ama genişleyebilir */
  overflow: visible;     /* scroll tamamen kapatıldı */
  animation: fadeIn 2s ease forwards;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover {
  transform: scale(1.03);
}


.card-content {
  color: #f5f5f5;
  margin: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.379);
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 10px;
}
h2{
  text-align: center;
}
.card-content h4 {
  color: #a788e1;
  font-weight: 600;
}
.card-content p{  
}
.card a{
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}
.card a:hover{  
  text-decoration: underline;
}
/* WebKit tabanlı tarayıcılar (Chrome, Edge, Safari) */
.card::-webkit-scrollbar {
  width: 8px;
  
}

.card::-webkit-scrollbar-thumb {
  background-color: lime; 
  border-radius: 4px;
}

.card::-webkit-scrollbar-track {
  background-color: lime; /* kart arka planıyla uyumlu */
}

/* Firefox */
.card {
  scrollbar-width:thin;         /* ince scroll */
  scrollbar-color: lime  #111; /* renk: thumb / track */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
.card-content p {
  flex: 1;
  opacity: 0.9;
  line-height: 1.6;
}